.aw-todolist .grouplist .elrow {
	min-height: 31px;
	position: relative;
	border-bottom: 1px solid #DCDEE4;
	cursor: pointer;
}
.aw-todolist .grouplist .elrow .select {
	font-weight: bold;
}
.aw-todolist .grouplist .elrow:hover {
	background-color: #FFF0C6;
}

.aw-todolist .grouplist .elrow table {
	width: 100%;
}
.aw-todolist .grouplist .elrow td {
	padding: 7px 0 5px 5px;
}
.aw-todolist .grouplist .elrow td.tl {
	width: 205px;
}
.aw-todolist .grouplist .elrow td.tl .tln {
	width: 205px;
	height: 16px;
	position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.aw-todolist .grouplist .elrow td.cnt {
	width: 30px;
	text-align: right;
	padding-right: 5px;
}
.aw-todolist .grouplist .elrow .rborder {
	border: 1px solid #D1D3DC;
	border-radius: 5px;
}
.aw-todolist .grouplist .elrow .shadow {
    background: url("/modules/todolist/images/shadow.png") repeat-y scroll 0 0 transparent;
    width: 16px;
	height: 1.3em;
    position: absolute;
    right: 0; top: 3px;
}
.aw-todolist .grouplist .elrow:hover .shadow {
    background: url("/modules/todolist/images/shadow-row.png") repeat-y scroll 0 0 transparent;
}


/* * * Menu * * */
.aw-todolist .grouplist .elrow .elrmenu {
	position: absolute;
    display: none;
    right: 2px;
    top: 4px;
}
.aw-todolist .grouplist .elrow:hover .elrmenu {
	display: block;
}
.aw-todolist .grouplist .elrow .itemline:hover .elrmenu {
	display: block;
}
