.aw-todolist .manager .brdtable {
	width: 100%;
}
.aw-todolist .manager .brdtable .brdlcol {
	width: 300px;
	border-right: 1px solid #D1D3DC;
}
.aw-todolist .manager .brdtable .brdrcol {
	padding-left: 5px;
}