.aw-todolist .manager .brdtable {
	width: 100%;
}
.aw-todolist .manager .brdtable .brdlcol {
	width: 300px;
	border-right: 1px solid #D1D3DC;
	padding-right: 5px;
}
.aw-todolist .manager .brdtable .brdrcol {
	padding-left: 5px;
	position: relative;
}
.aw-todolist .manager .manbtns {
	border-bottom: 1px solid #D1D3DC;
	padding-bottom: 10px;
	text-align: right;
	position: relative;
}
.aw-todolist .manager .manbtns .lft {
	position: absolute;
	top: 0px; left: 0px;
}

/* * * * Group List * * * */
.aw-todolist .manager .brdcolhd {
	position: relative;
	padding: 5px;
	background-color: #E8E9ED;
	border: 1px solid #DCDEE4;	
}
.aw-todolist .manager .brdcolhd span {
	font-size: 13px;
	font-weight: bold;
	color: #3B4054;
}

.aw-todolist .manager .brdcolhd .boxbutton {
	position: absolute;
	right: 1px;
	top: 1px;
}