.aw-todolist .todolist .elrow {
	min-height: 22px;
	position: relative;
}
.aw-todolist .todolist .elrow:hover {
	background-color: #FFF0C6;
}
.aw-todolist .todolist .elrow .tl {
	cursor: pointer;
    margin: 0 10px 0 5px;
    overflow: hidden;
    padding: 3px; 
    position: relative;
    white-space: nowrap;
}

.aw-todolist .todolist .elrow .shadow {
    background: url("/modules/botask/images/shadow.png") repeat-y scroll 0 0 transparent;
    width: 16px;
	height: 1.3em;
    position: absolute;
    right: 0; top: 0;
}
.aw-todolist .todolist .elrow .rborder {
	border: 1px solid #D1D3DC;
	border-radius: 5px;
}

/* * * Menu * * */
.aw-todolist .todolist .elrow .elrmenu {
	position: absolute;
    display: none;
    right: 0px;
    top: -1px;
}
.aw-todolist .todolist .elrow:hover .elrmenu {
	display: block;
}
.aw-todolist .todolist .elrow .itemline:hover .elrmenu {
	display: block;
}
