.aw-catalog .elementlist .elrow {
	min-height: 22px;
	position: relative;
}
.aw-catalog .elementlist .elrow:hover {
	background-color: #FFF0C6;
}
.aw-catalog .elementlist .elrow .tl {
	cursor: pointer;
    margin: 0 10px 0 5px;
    overflow: hidden;
    padding: 3px; 
    position: relative;
    white-space: nowrap;
}
.aw-catalog .elementlist .elrow .rborder {
	border: 1px solid #D1D3DC;
	border-radius: 5px;
}
.aw-catalog .elementlist .elneweditor .easyeditor {
	padding-top: 26px !important;
}

/* * * Menu * * */
.aw-catalog .elementlist .elrow .elrmenu {
	position: absolute;
    display: none;
    right: 0px;
    top: -1px;
}
.aw-catalog .elementlist .elrow:hover .elrmenu {
	display: block;
}
.aw-catalog .elementlist .elrow .itemline:hover .elrmenu {
	display: block;
}
