/* * * Editor * * */
.aw-todolist .todoeditor input.title {
	width: 98%;
	margin-bottom: 5px;
}
.aw-todolist .todoeditor .descript textarea.inp,
.aw-todolist .todoeditor .grp select {
	width: 524px !important;
}

.aw-todolist .elrow .todoeditor {
	margin: 5px;
	padding: 0 5px;
}
.aw-todolist .todolist .neweditor .todoeditor {
	border: 1px solid #D1D3DC;
	border-radius: 5px;
	background-color: #FFF0C6;
	padding: 8px 8px 0px 8px;
}