.aw-todolist .todolist .elrow {
	position: relative;
	border-bottom: 1px solid #DCDEE4;
	cursor: pointer;
	font-size: 13px;
}
.aw-todolist .todolist .elrow:hover {
	background-color: #FFF0C6;
}

/*
.aw-todolist .todolist .elrow ul.tline li {
	float: left;
	padding: 7px 0 5px 5px;
}
/**/
.aw-todolist .todolist .elrow table.tline {
	width: 100%;
}

.aw-todolist .todolist .elrow .tline td.chk {
	padding: 8px 0 7px 5px;
	width: 14px;
}
.aw-todolist .todolist .elrow .tline td.tl {
	padding: 5px 0 7px 4px;
}
.aw-todolist .todolist .elrow .tline td.tl .tln {
	width: 715px;
	height: 18px;
	position: relative;
    white-space: nowrap;
    overflow: hidden;
}
.aw-todolist .todolist .elrow .executed {
	font-style: italic;
}

.aw-todolist .todolist .elrow .shadow {
    background: url("/modules/todolist/images/shadow.png") repeat-y scroll 0 0 transparent;
    width: 16px;
	height: 1.3em;
    position: absolute;
    right: 0; top: 3px;
}
.aw-todolist .todolist .elrow:hover .shadow {
    background: url("/modules/todolist/images/shadow-row.png") repeat-y scroll 0 0 transparent;
}
.aw-todolist .todolist .elrow .rborder {
	border: 1px solid #D1D3DC;
	border-radius: 5px;
}

/* * * Menu * * */
.aw-todolist .todolist .elrow .elrmenu {
	position: absolute;
    display: none;
    right: 1px;
    top: 3px;
}
.aw-todolist .todolist .elrow:hover .elrmenu {
	display: block;
}
.aw-todolist .todolist .elrow .itemline:hover .elrmenu {
	display: block;
}
