/* * * * wspace.css begin * * * */
.aw-todolist .wspage {
	min-height: 160px;
}
.aw-todolist .ws-loading {
	margin: 70px 0;
	text-align: center;
}

.aw-todolist .gheadermenu {
	position: relative;
	padding: 15px 0 0 150px;
	height: 80px;
}
.aw-todolist .gheadermenu h2 {
	padding: 5px 10px;
	font-size: 1.5em;
	background-color: #6A718A;
	color: #fff;
}
.aw-todolist .gheadermenu a.logo {
	position: absolute;
	top: 0; left: 30px;
}
.aw-todolist .gheadermenu img.logo {
	width: 96px;
	height: 96px;
}

.aw-todolist .gheadermenu .topmenublock {
	position: relative;
}
.aw-todolist .gheadermenu ul.topmenul {
	margin: 10px;
	margin-top: 6px;
}
.aw-todolist .gheadermenu ul.topmenur {
	position: absolute;	top: 1px; right: 1px;
}
.aw-todolist .gheadermenu ul.topmenu li{
	float: left;
    padding: 1px 0.5em;
    margin-right: 10px;
}
.aw-todolist .gheadermenu ul.topmenu a {
	font-size: 
}
.aw-todolist .gheadermenu ul.topmenu li.sel {
	background: none repeat scroll 0 0 #E8E9ED;
    border: 1px solid #DCDEE4;
}
.aw-todolist .gheadermenu ul.topmenu li.sel a {
	color: #3B4054;
	text-decoration: none;
}

.aw-todolist .gbmenu a {
	text-decoration: none;
	font-size: 14px;
	color: #2A2D3C;
}
.aw-todolist .gbmenu .gbitems {
	margin-left: 10px;
}
.aw-todolist .gbmenu .gbitem {
	text-align: center;
	min-width: 100px;
	cursor: pointer;
	float: left;
	margin: 0 1px;
	padding: 5px 15px; 
	background-color: #F3F4F6;
}
.aw-todolist .gbmenu .r {
	float: right;
}
.aw-todolist .gbmenu .gbitem:hover {
	text-decoration: underline;	
}
.aw-todolist .gbmenu .current {
	background-color: #E8E9ED;
}
.aw-todolist .gbmenu .current:hover {
	text-decoration: none;	
}
.aw-todolist .gbmenu .line {
    background: url("/modules/todolist/images/gmshadow.png") repeat-x scroll 0 0 transparent;
	height: 16px;
}

.aw-todolist .wspacetable {
	width: 100%;
}
.aw-todolist .wspacetable .wscol-content {
	padding-right: 20px;
}
.aw-todolist .wspacetable .wscol-right {
	width: 250px;
	max-width: 250px;
}

.aw-todolist .wscol-right .blockbox {
	margin-bottom: 10px;
}
/* * * * wspace.css end * * * */
